@import './reset.css';

body {
	background: #f0f1f2;
	font: 12px "Open Sans", sans-serif;
}

.clearfix {
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}


.contacts {
	position: relative;
	width: 400px;
	overflow: hidden;
	margin: 0 auto;

	&__list {
		max-height: 600px;
	  background:#fff;
	  border-radius:6px;
	  overflow-y: scroll;
	}

	&__head {
		font-weight: 600;
		font-size: 15px;
		text-align: center;
		line-height: 50px;
		color: #597a96;
	}
}

.contact {
  height:78px;
  border-bottom:1px solid #e7ebee;
  position:relative;

  &:hover{
  	background:#f1f4f6;
  	cursor:pointer;
  }
  img{
  	width:40px;
  	border-radius:50%;
  	margin:15px;
  	float:left;
  }
  p {
  	padding:15px 0 0 0;
  	float:left;
  	width:220px;

    strong{
      display: block;
      font-weight:600;
      font-size:15px;
    	color:#597a96;
      margin-bottom: 5px;
    }
    span{
      display: block;
    	font-size:13px;
    	font-weight:400;
    	color:#2d2d2d;

			&:before {
				color:#656565;
				margin-right: 5px;
			}
    }
  }

	&__email {

		&:before {
			content: 'email:';
		}
	}
	&__city {

		&:before {
			content: 'city:';
		}
	}
}

.user-profile-page {
	display: block;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	text-align: center;
  border-radius:6px;
	padding: 3em 10% 0 10%;
	overflow-x: scroll;
	background: rgba(255, 255, 255, 1);
	transition: .3s opacity;


	&--active {
		z-index: 10;
		height: 100%;
		opacity: 1;
	}

	&__close {
		position:absolute;
		top: 13px;
    opacity: 0.8;
    right: 16px;
		width:20px;
		height:20px;
		cursor:pointer;

		&:hover{
			opacity:1;
		}

		.cx, .cy{
			background: #597a96;
			position:absolute;
			width:0px;
			top:15px;
			right:15px;
			height:3px;
			-webkit-transition: all 250ms ease-in-out;
			   -moz-transition: all 250ms ease-in-out;
				-ms-transition: all 250ms ease-in-out;
				 -o-transition: all 250ms ease-in-out;
					transition: all 250ms ease-in-out;
		}
		.cx.s1, .cy.s1{
			right:0;
			width:20px;
			-webkit-transition: all 100ms ease-out;
			   -moz-transition: all 100ms ease-out;
				-ms-transition: all 100ms ease-out;
				 -o-transition: all 100ms ease-out;
					transition: all 100ms ease-out;
		}
		.cy.s2{
			-ms-transform: rotate(50deg);
			-webkit-transform: rotate(50deg);
			transform: rotate(50deg);
			-webkit-transition: all 100ms ease-out;
			   -moz-transition: all 100ms ease-out;
				-ms-transition: all 100ms ease-out;
				 -o-transition: all 100ms ease-out;
					transition: all 100ms ease-out;
		}
		.cy.s3{
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transition: all 100ms ease-out;
			   -moz-transition: all 100ms ease-out;
				-ms-transition: all 100ms ease-out;
				 -o-transition: all 100ms ease-out;
					transition: all 100ms ease-out;
		}
		.cx.s1{
			right:0;
			width:20px;
			-webkit-transition: all 100ms ease-out;
			   -moz-transition: all 100ms ease-out;
				-ms-transition: all 100ms ease-out;
				 -o-transition: all 100ms ease-out;
					transition: all 100ms ease-out;
		}
		.cx.s2{
			-ms-transform: rotate(140deg);
			-webkit-transform: rotate(140deg);
			transform: rotate(140deg);
			-webkit-transition: all 100ms ease-out;
			   -moz-transition: all 100ms ease-out;
				-ms-transition: all 100ease-out;
				 -o-transition: all 100ms ease-out;
					transition: all 100ms ease-out;
		}
		.cx.s3{
			-ms-transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
			transform: rotate(135deg);
			-webkit-transition: all 100ease-out;
			   -moz-transition: all 100ms ease-out;
				-ms-transition: all 100ms ease-out;
				 -o-transition: all 100ms ease-out;
					transition: all 100ms ease-out;
		}
	}
}

.user-profile {

	&__img {
		width: 150px;
		margin: 0 auto;

		img {
			border-radius: 100%;
		}
	}

	&__name {
		color: #597a96;
		font-size: 25px;
		font-weight: 600;
		margin-top: 15px;
	}
	[data-type] {
		position: relative;
		width: 90%;
		color:#2d2d2d;
		text-align: left;
		font-size: 15px;
		line-height: 18px;
		margin: 8px 0 8px 5px;

		&:before {
			content: attr(data-type)":";
			min-width: 70px;
			color:#656565;
			font-size: 15px;
			margin: 0 10px 0 -5px;
		}
	}
	[data-type="username"] {
		margin-top: 20px;
	}
}


.editable {
	&:after {
		content: 'edit';
		position: absolute;
		top: 3px;
		left: 100%;
		font-size: 11px;
		line-height: 11px;
		display: block;
		cursor: pointer;
		padding: 2px 4px;
		border: 1px solid black;
		border-radius: 3px;
	}
}

.btn {
    background: #428bca;
    border: #357ebd solid 1px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;

		&:hover {
    background: #357ebd;
	}
}

.modal {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	background: rgba(255, 255, 255, 0.61);
	transition: .3s opacity;

	&--active {
		height: 100%;
		z-index: 100;
		opacity: 1;
	}

	&__body {
		position: relative;
		top: 50%;
		overflow: hidden;
		font-size: 15px;
		width: 90%;
		height: 200px;
		margin: -100px auto 0 auto;
		padding: 0 3%;
		background: white;
		border: 1px solid #cccccc;
		border-radius: 3px;

		button {
			position: absolute;
	    bottom: 20px;
	    right: 20px;
			cursor: pointer;

			&.cancel {
				right: 90px;
			}
		}
	}

	&__header {
		margin-top: 11px;
		font-weight: 600;
	}

	&__errors {
		color: red;
		width: 100%;
		height: 30px;
		text-align: center;
		margin: 10px 0 0 0;
	}
	&__edit-field {
		position: absolute;
    top: 70px;
    width: 92%;
    padding: 6px 5px;
    border: 1px solid #a7a7a7;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
}
