<div class="contacts">


  <div id="chatview" class="p1">
    <div id="profile">
      <div id="close">
          <div class="cy"></div>
          <div class="cx"></div>
      </div>
      <p>Miro Badev</p>
      <span>miro@badev@gmail.com</span>
    </div>
  </div>
</div>


<div class="contacts-list">
  <div class="contact">
    <img src="https://thebenclark.files.wordpress.com/2014/03/facebook-default-no-profile-pic.jpg" />
    <p>
      <strong>Miro Badev</strong>
      <span>mirobadev@gmail.com</span>
    </p>
    <div class="status available"></div>
  </div>
</div>
